.container {  
  max-width: 1400px;  
  width: 100%;  
  margin: 15px;  
  margin-left: 50px;
  height: auto;  
  display: block;  
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

  .topnav .search-container {
  float: right;
}
.delete_btn {
	padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
	
}
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

body {  
  
  color:hsl(0, 0%, 0%);  
  font-size: 20px;  
  font-family: Verdana, Arial, Helvetica, monospace;  
  background-color: hsl(0, 0%, 100%);  
 
}  
  
h2 {  
  text-align: center;  
  margin-top: 20px;
   background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}  
  
.form_group {  
  padding: 15px;   
  display: block;  

 
}  
  
label {  
  float: left;  
  padding-right: 50px;  
  line-height: 110%;  
  display: block;  
  width: 308px;  
}   
.file{
	font-size: 15px;
	font-family: Verdana, Arial, Helvetica, monospace;  
	
}
 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
 
}
tr:hover {background-color: #f5f5f5;} 
